#header{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #806819,#CCA112, #FCC717 , #FDD963)
}

#dados{

    display: flex;
    flex-direction: column;
}

#procurar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data_button{

    background-color:#FCC717;
    box-shadow: 2px 2px 2px black;
    
}

.delivery_div{

    text-shadow: black 0.03em 0.03em;
    font-weight: bold;
}

.padaria_div{

    text-shadow: black 0.03em 0.03em;
    font-weight: bold;
    
}

.meus_pedidos_div{
    
    text-shadow: black 0.03em 0.03em;
    font-weight: bold;

}

